body {
    font-family: Arial, sans-serif;
    color: white;
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,82,255,0.7539390756302521) 100%, rgba(9,88,121,1) 100%);
}

header {
    background: rgba(2,0,36,1) 0%;
    border-radius: 25px;
    padding: 20px;
    text-align: center;
    position: sticky;
  top: 0;
  z-index: 999;
}

header h1 {
    margin: 0;
    font-size: 36px;
}

.movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.movie {
    width: 300px;
    text-align: center;
    margin: 15px;
}

.movie img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid white;
    margin: 0 auto 20px;
}


.movie h2 {
    font-size: 24px;
    margin: 0;
}